* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
}

.inner {
  height: calc(100vh - 2em);
  margin: 1em;
  background-color: white;
  border-radius: 0.5em;
  border: 2px solid rgba(250, 235, 215, 0.8);
  opacity: 0.8;
  padding: 3em;
}

@media (min-width: 60em) {
  .outer {
    margin: 1em 12em;
  }
}

.header {
  font-size: 1.5em;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
