.streak {
  display: block;
  left: 50%;
  position: absolute;
  bottom: 100%;
  width: 20px;
  height: 200px;
  pointer-events: none;
  animation: streak 2s linear infinite;
}

@keyframes streak {
  0% {
    transform: rotate(2deg) translateY(0vh);
  }
  75% {
    transform: rotate(2deg) translateY(90vh);
  }
  100% {
    transform: rotate(2deg) translateY(90vh);
  }
}

.drop {
  width: 8px;
  margin: 0 6px;
  height: 100%;
  background: linear-gradient(0deg, rgba(40, 38, 38, 1), rgba(40, 38, 38, 0));
  animation: drop 2s linear infinite;
  top: 0;
  position: absolute;
}

@keyframes drop {
  0% {
    opacity: 1;
    height: 100%;
  }
  65% {
    opacity: 1;
    height: 60%;
  }
  75% {
    opacity: 0;
    height: 0%;
  }
  100% {
    opacity: 0;
    height: 0%;
  }
}

.splat {
  width: 100%;
  height: 20px;
  border-top: 2px dotted black;
  border-radius: 50%;
  opacity: 1;
  transform: scale(0);
  animation: splat 2s linear infinite;
  display: block;
}

@keyframes splat {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  80% {
    opacity: 1;
    transform: scale(0);
  }
  90% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}